<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN"><html><head><meta http-equiv="Content-Type" content="text/html; charset=utf-8"></meta><meta http-equiv="X-UA-Compatible" content="IE=Edge"></meta><meta name="format-detection" content="telephone=no"></meta><style type="text/css">
body{margin:0;padding:8px;}
p{line-height:1.15;margin:0;white-space:pre-wrap;}
ol,ul{margin-top:0;margin-bottom:0;}
img{border:none;}
li>p{display:inline;}
</style></head><body>
<p><span style="font-size: 16pt;font-weight: bold;">Тестовая версия (сыроежка)</span></p>
<p><br></p>
<p>Обработка предназначена для сравнения XML файлов Метаданных конфигурации, которые находятся в конфликте слияния (MERGE_Conflict). </p>
<p><br></p>
<p>Основной принцип:</p>
<ol><li>
<p style="display:inline;">Поиск конфликтных файлов в репозитории GIT (выбрать каталог, содержащий директорию .git)</p>
</li>
<li>
<p style="display:inline;">Получение трех версий файла из репозитория. Версия текущей ветки, вливаемой ветки и версия общего предка. (Двойной клик по строке с файлами)</p>
</li>
<li>
<p style="display:inline;">Преобразование XML в дерево формы, через XDTO. (Автоматически, при выборе файла из табличной части)</p>
</li>
<li>
<p style="display:inline;"><span>В дереве выводится три версии, у каждой версии показано количество различий, строки с различиями выделены розовым (развернуть дерево, проверить)</span></p>
</li>
<li>
<p style="display:inline;"><span>При загрузке флажки версии устанавливаются автоматически &lt;Алгоритм дорабатывается, ручная проверка обязательна и не только&gt; (установка флажков в дереве)</span></p>
</li>
<li>
<p style="display:inline;"><span>Сборка результата, с помощью XDTO (собрать Исходник)</span></p>
</li>
</ol><p><br></p>
<p><span>Адрес проекта </span><a href="https://github.com/shlegelPA/CompareXMLoneC">https://github.com/shlegelPA/CompareXMLoneC</a></p>
<p><br></p>
<p><span> </span></p>
</body></html>